.body {
    width: 100vw;
    height: 100vh;
}
// Start --> Home page
.br {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.br-header {
    display: flex;
    justify-content: center;
    background: skyblue;
}
.br-body {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.br-body-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    width: 100%;
    background: tan;
    flex-direction: column;
}
.br-body-2 {
    background:salmon !important;
}
.br-circle {
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}
// End --> Home page