@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  background: white !important;
  font-family: 'Kanit', sans-serif !important;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background: snow;
    /*background: transparent
      radial-gradient(closest-side at 50% 50%, #303030 0%, #202020 100%) 0% 0%
      no-repeat padding-box;*/
  }
}

.ant-select-selection {
  border-top-width: 0 !important;
}

.ant-card {
  backdrop-filter: blur(100px) !important;
}
.body {
  width: 100vw;
  height: 100vh;
}
// Start --> Home page
.br {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}
.br-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;
  flex-basis: 100px;
}
.br-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.br-body-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  flex-direction: column;
}
.br-body-2 {
  border-left:1px solid white
}
.br-circle {
  background: black;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 10px;
}
.br-btn {
  width: 150px !important;
  margin: 10px !important
}
// End --> Home page

// Start --> Shop page
.sp-body-1 {
  display: flex;
  flex-basis: 150;
  flex-direction: column;
  height: 100%;
  background: salmon;
  padding: 25px;
}
.sp-body-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: burlywood;
  padding: 20px;
}
.sp-btn-1 {
  margin-bottom:10px !important;
}
.sp-body-2-header {
  background: red;
}
.sp-body-2-body {
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sp-card {
  margin: 20px !important;
  border: 1px solid rgba(196, 196, 196, 0.233) !important;
}
// End --> Shop page

// Start --> Chatbot page
.cb-body {
  width: 100%;
  padding: 20px 100px
}
.cb-input {
  border-radius: 5px !important;
  background: rgb(169, 226, 174) !important;
  margin-bottom: 10px !important;
  color: white !important;
  padding: 10px !important;
  max-width: 300px !important;
}
.cb-body-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.cb-btn {
  width: 200px !important;
}
// End --> Chatbot page