@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
body {
  background: white !important;
  font-family: "Roboto Condensed", sans-serif;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background: snow;
    /*background: transparent
      radial-gradient(closest-side at 50% 50%, #303030 0%, #202020 100%) 0% 0%
      no-repeat padding-box;*/
  }
}

.ant-select-selection {
  border-top-width: 0 !important;
}

.ant-card {
  backdrop-filter: blur(100px) !important;
}
.body {
  width: 100vw;
  height: 100vh;
}
// Start --> Home page
.br {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.br-header {
  display: flex;
  justify-content: space-between;
  background: #033975;
  flex-basis: auto;
  padding: 10px 10px 5px 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 34px;
}
.br-header-font {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 9px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.br-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
.br-body-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  flex-direction: column;
}
.br-body-2 {
  border-left: 1px solid white;
}
.br-circle {
  background: black;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 10px;
}
.br-btn {
  width: 150px !important;
  margin: 10px !important;
}
// End --> Home page

// Start --> Shop page
.sp {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
.sp-body-1 {
  display: flex;
  flex-basis: 150;
  flex-direction: column;
  height: auto;
}
.sp-body-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: white;
  padding: 20px;
}
.sp-btn-1 {
  margin-bottom: 10px !important;
}
.sp-body-2-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sp-card {
  margin: 20px !important;
  border: 1px solid rgba(196, 196, 196, 0.233) !important;
}
// End --> Shop page

// Start --> Chatbot page
.cb-body {
  width: 100%;
  padding: 20px 100px;
}
.cb-input {
  border-radius: 5px !important;
  background: rgb(169, 226, 174) !important;
  margin-bottom: 10px !important;
  color: white !important;
  padding: 10px !important;
  max-width: 300px !important;
}
.cb-body-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.cb-btn {
  width: 200px !important;
}
// End --> Chatbot page

// Start --> Description page
.dt-body-2-header {
  width: 100%;
}
.dt-body-2-body {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dt-img {
  width: 300px;
  margin: 10px;
}
.dt-img-1 {
  width: 100px;
  margin: 10px;
}
.dt-decription {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.dt-btn {
  max-width: 250px !important;
  width: 100% !important;
}
// End --> Description page

// Start --> Payment Page
.pm-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pm-back {
  justify-content: space-between;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid black;
}
.pm-address {
  padding: 10px;
  border-bottom: 1px solid black;
}
.pm-address-1 {
  display: flex;
  flex-direction: row;
}
.pm-address-2 {
  padding: 5px 50px;
}
.pm-product-img {
  width: 150px;
}
.pm-product {
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pm-product-des-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.pm-product-des {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.pm-option {
  background: sandybrown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 50px;
}
.pm-payment {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pm-payment-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.pm-payment-body-1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
}
.pm-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}
.pm-footer-btn {
  max-width: 100px !important;
  width: 100% !important;
  margin: 10px !important;
}
// End --> Payment Page

// Start --> Login Page
.lg {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.lg-card {
  background: rgb(44, 42, 42);
  border-radius: 10px;
  display: flex;
  max-width: 500px;
  width: auto;
  justify-content: space-around;
  padding: 20px;
}

.lg-input {
  max-width: 200px !important;
  width: 100% !important;
}
.lg-btn {
  margin: 5px 0px;
}
// End --> Login Page

// Start --> Navbar Page
#components-layout-demo-responsive .logo {
  height: 32px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  margin: 16px !important;
}

.site-layout-sub-header-background {
  background: #fff !important;
}

.site-layout-background {
  background: #fff !important;
}
//End --> Navbar Page

//Start --> InsertProduct
.ip-iuput {
  color: black !important;
  background: white !important;
  max-width: 500px !important;
  padding: 20px !important;
  border: 1px solid rgb(197, 197, 197) !important;
  border-radius: 10px !important;
}
//End --> InsertProduct

//Start --> Modal
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  //background-color: rgb(0, 0, 0); /* Fallback color */
  //background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.cl-modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  //border: 1px solid #888;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
//End --> Modal

//Start --> ListRentItem
.lri-card {
  background: white;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  padding: 20px;
}
.lri-black {
  color: black !important;
  display: flex;
  justify-content: space-between;
}
.lri-header {
  border-bottom: 1px solid rgb(199, 199, 199);
  color: black !important;
  display: flex;
  justify-content: space-between;
}
.lri-body {
  padding: 10px;
}
//End --> ListRentItem

//start - responsive - home
.br-body-res {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.card-res-home {
  //background-image: url(../public/BUY.gif) !important;
  background: wheat;
  width: 375px;
  height: 275px;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 16px;
}
.btn-res-home {
  background: linear-gradient(180deg, #fabb02 0%, #ffb628 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 35px !important;
  width: 191px !important;
  height: auto !important;
  font-weight: bold !important;
  font-size: 18px !important;
}
.header-typepage {
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
//end - responsive - home


//start - responsive - navbar
.navbar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.navbar a:hover {
  color: #f1f1f1;
}
//end - responsive - navbar
