@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background: white !important;
  font-family: 'Kanit', sans-serif !important;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    background: white;
    /*background: transparent
      radial-gradient(closest-side at 50% 50%, #303030 0%, #202020 100%) 0% 0%
      no-repeat padding-box;*/
  }
}

.ant-select-selection {
  border-top-width: 0 !important;
}

.ant-card {
  backdrop-filter: blur(100px) !important;
}
.body {
  width: 100vw;
  height: 100vh;
}
// Start --> Home page
.br {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
.br-res-mobile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.br-header {
  display: flex;
  justify-content: space-between;
  background: #033975;
  flex-basis: auto;
  padding: 10px 10px 5px 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 34px;
}
.br-header-font {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.br-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
.br-body-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
  width: 100%;
  flex-direction: column;
}
.br-body-2 {
  border-left: 1px solid white;
}
.br-circle {
  background: black;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 10px;
}
.br-btn {
  width: 150px !important;
  margin: 10px !important;
}
// End --> Home page

// Start --> Shop page
.sp {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
.sp-body-1 {
  display: flex;
  flex-basis: 150;
  flex-direction: column;
  height: auto;
}
.sp-body-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 63px;
}
.sp-btn-1 {
  margin-bottom: 10px !important;
}
.sp-body-2-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sp-card {
  margin: 20px !important;
  border: 1px solid rgba(196, 196, 196, 0.233) !important;
  font-family: "Roboto Condensed", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #000000;
}
.sp-meta-font {
  font-family: "Roboto Condensed", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #000000 !important;
}
.ant-card-body {
  padding: 10px 15px 15px 15px !important;
}
// End --> Shop page

// Start --> Chatbot page
.cb-body {
  width: 100%;
  padding: 20px 100px;
}
.cb-input {
  border-radius: 5px !important;
  background: rgb(169, 226, 174) !important;
  margin-bottom: 10px !important;
  color: white !important;
  padding: 10px !important;
  max-width: 300px !important;
}
.cb-body-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.cb-btn {
  width: 200px !important;
}
// End --> Chatbot page

// Start --> Description page
.dt-body-2-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.dt-body-2-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dt-img {
  width: 266px;
  height: 140px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  background: white;
}
.dt-img-1 {
  width: 75px;
  height: 75px;
  margin: 2px;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  border-radius: 10px;
}
.dt-decription {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.dt-btn {
  max-width: 250px !important;
  width: 100% !important;
  height: auto !important;
  font-family: Roboto Condensed !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  color: #ffffff !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  background: linear-gradient(180deg, #fabb02 0%, #ffb628 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 35px !important;
  margin-top: 10px;
}
// End --> Description page

// Start --> Payment Page
.pm-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pm-back {
  justify-content: space-between;
  display: flex;
  padding: 12px 20px 12px 20px;
  border-bottom: 1px solid #dadbdd !important;
}
.pm-address {
  padding: 7px 21px 0px 21px;
  border-bottom: 1px solid #dadbdd !important;
  display: flex;
  flex-direction: row;
}
.pm-address-1 {
  display: flex;
  flex-direction: row;
}
.pm-address-2 {
  padding: 5px;
}
.pm-product-img {
  width: 76px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #dadbdd;
}
.pm-product {
  padding: 14px 18px 0px 18px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pm-product-des-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.pm-product-des {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pm-option {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dadbdd;
  border-top: 1px solid #dadbdd;
  margin-top: 15px;
  padding: 11px 21px 21px 21px;
}
.pm-payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pm-payment-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.pm-payment-body-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pm-payment-body1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 26px;
}
.pm-payment-body3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pm-footer {
  width: 100%;
  display: flex;
  border-top: 1px solid #dadbdd;
}
.pm-footer-btn {
  max-width: 100px !important;
  width: 100% !important;
}
// End --> Payment Page

// Start --> Login Page
.lg {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.lg-card {
  background: rgb(44, 42, 42);
  border-radius: 10px;
  display: flex;
  max-width: 500px;
  width: auto;
  justify-content: space-around;
  padding: 20px;
  font-family: Roboto Condensed !important;
}

.lg-input {
  max-width: 200px !important;
  width: 100% !important;
}
.lg-btn {
  margin: 5px 0px;
}
// End --> Login Page

// Start --> Navbar Page
#components-layout-demo-responsive .logo {
  height: 32px !important;
  background: rgba(255, 255, 255, 0.2) !important;
  margin: 16px !important;
}

.site-layout-sub-header-background {
  background: #fff !important;
}

.site-layout-background {
  background: #fff !important;
}
//End --> Navbar Page

//Start --> InsertProduct
.ip-iuput {
  color: black !important;
  //background: white !important;
  max-width: 500px !important;
  //padding: 10px !important;
  //border: 1px solid rgb(197, 197, 197) !important;
  border-radius: 2px !important;
}
//End --> InsertProduct

//Start --> Modal
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  //background-color: rgb(0, 0, 0); /* Fallback color */
  //background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  font-family: 'Kanit', sans-serif !important;
}

.md-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

.cl-modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  //border: 1px solid #888;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
//End --> Modal

//Start --> ListRentItem
.lri-card {
  background: white;
  width: 80%;
  height: 70%;
  border-radius: 10px;
  padding: 20px;
}
.lri-black {
  color: black !important;
  display: flex;
  justify-content: space-between;
}
.lri-header {
  border-bottom: 1px solid rgb(199, 199, 199);
  color: black !important;
  display: flex;
  justify-content: space-between;
}
.lri-body {
  padding: 10px;
}
//End --> ListRentItem

//start - responsive - home
.br-body-res {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.card-res-home {
  //background-image: url(../public/BUY.gif) !important;
  position: relative;
  background: black;
  width: 375px;
  //height: auto;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn-res-home {
  background: linear-gradient(180deg, #fabb02 0%, #ffb628 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 35px !important;
  width: 191px !important;
  height: auto !important;
  position: absolute !important;
  margin-bottom: 16px !important;
}
.btn-res-home-text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  margin: 0 !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-typepage {
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-pc {
  max-width: 621px;
  max-height: 414px;
  width: 100%;
  height: 100%;
}
.card-res-home :hover {
  opacity: 0.5;
}
//end - responsive - home

//start - responsive - navbar
.navbar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #033975;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 16px;
  color:white
}


.navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar a:hover {
  color: red;
}
//end - responsive - navbar

//start - responsive - description
.des-res-br {
  //margin-top: 10px;
  border: 1px solid #dadbdd;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.des-res-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  font-family: Roboto Condensed;
}
.des-btn {
  color: black;
  border-style: none;
  background: #fafafa;
  width: 100%;
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.des-btn-hover {
  border-bottom: 2px solid #ffc700;
  background: none !important;
}
.des-div {
  display: flex;
  flex-basis: auto;
  width: 100%;
  justify-content: center;
}
.des-res-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.des-res-price {
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 18px;
  color: #62646a;
  margin: 0px;
  margin-right: 8px !important;
}
.des-res-price-layout {
  margin: 0px !important;
  padding: 13px 22px;
}
.des-res-btn {
  width: 100% !important;
  height: auto !important;
  font-family: Roboto Condensed !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  color: #ffffff !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  background: linear-gradient(180deg, #fabb02 0%, #ffb628 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  margin-top: 10px;
}
.des-res-flex-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.des-res-flex-body {
  display: flex;
  width: 100%;
}
.pay-font-hd {
  font-family: Roboto Condensed !important;
  font-style: normal !important;
  font-weight: normal !important;
}
//end - responsive - description

//start - res - btn - payment
.btn-res-pm {
  width: 125px;
  height: 100%;
  background: linear-gradient(180deg, #fabb02 0%, #ffb628 100%);
  border-style: none;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
//end - res - btn - payment

//start - res - login
.lg-res-card {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
}
.lg-res-card-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 77px 55px 33px 55px;
  background: white;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.lg-res-header-name {
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.lg-res-name {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 0;
}
.lg-res-ip {
  margin-top: 18px;
}
.lg-res-input {
  height: 35px !important;
  font-family: Roboto Condensed !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  //border: 1px solid #d9d9d9 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
}
.lg-res-ip-mg {
  margin-top: 8px !important;
}
.lg-res-footer-btn {
  margin-top: 11px;
  width: 100%;
  text-align: center;
}
.lg-res-btn {
  width: 100% !important;
  height: 31px !important;
  background: linear-gradient(180deg, #fabb02 0%, #ffb628 100%) !important;
  border-radius: 5px !important;
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25)) !important;
}
.lg-res-under-btn {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px;
  cursor: pointer;
}
//end - res - login

//start - res - shopPc
.shop-res-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.shop-res-body {
  width: 100%;
}
.show-res-navbar-header {
  line-height: 28px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 24px;
  margin: 40px 0px 40px 0px;
}
.show-res-navbar-ul {
  background: #033975;
  width: 243px;
  min-width: 243px;
  text-align: center;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  list-style-type: none;
  padding: 0px;
  height: 100%;
  margin-bottom: 0px;
}
.show-res-navbar-li {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}
.show-res-li-border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.shop-res-navbar-li:hover {
  background-color: #555;
  color: white;
}
.shop-res-body {
  display: flex;
  flex-direction: column;
  padding: 63px;
}
.shop-res-body-header {
  display: flex;
  flex-direction: row;
  background: white;
  margin-bottom: 46px;
}
.shop-res-card-type {
  height: auto;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-right: 24px;
  padding: 10px;
}
.shop-res-body-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
//end - res -shopPc

//start - res - descriptionPc
.dt-res-img1 {
  width: 502px;
  height: 326px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
}
.dt-res-img2 {
  width: 154px;
  height: 154px;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  margin: 15px 7px 0px 7px;
}
.dt-res-description {
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 33px;
}
.dt-res-body-2-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
}
//end - res - descriptionPc

//start - Manage
.mg-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mg-body {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mg-card {
  width: 300px !important;
  margin: 10px !important;
}
//end - Manage

//image Expand - start
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.modal-contentimage,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  max-width: 300px;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

//image Expand - end

//chatbot - start
.cb-fixed {
  position: fixed !important;
  bottom: 100px !important;
  right: 0 !important;
  width: 60px !important;
  height: 60px !important;
  background: linear-gradient(180deg, #82BE41 0%, #6CA434 100%) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  //border-radius: 35px 35px 35px 35px !important;
}
//chatbot - end

// table - compare - start
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: linear-gradient(180deg, #fabb02 0%, #ffb628 100%) !important;
  color: white;
}
// table - compare - end

// update ems track - start
.mg-update-track-card {
  background: white;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 20px;
}
.mg-update-track-black {
  color: black !important;
  display: flex;
  justify-content: space-between;
}
.mg-update-track-header {
  border-bottom: 1px solid rgb(199, 199, 199);
  color: black !important;
  display: flex;
  justify-content: space-between;
}
.lri-body {
  padding: 10px;
}
.mg-btn-update {
  margin-top: 5px;
  width: 100% !important;
  border-radius: 3px !important;
}
// update ems track - end
